.sam
  .sam__overlay.opacity-overlay
    .sam__firstWin.hide
      .sam__firstWin-info
        .sam__firstWin-present
        .sam__firstWin-img
          picture
            source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/womWin1-mob.png")
            source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/womWin1-mob.png")
            source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/womWin1-tab.png")
            source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/womWin1-desc.png")
            img(src="img/womWin1-desc.png" alt="Favbet")
        .sam__firstWin-title 100FS
        .sam__firstWin-sum Воу! Знімаю бюстгальтер
        .sam__firstWin-btn.btn Крути ще
    .sam__secondWin.hide
      .sam__secondWin-img
        picture
          source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/womWin2-mob.png")
          source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/womWin2-mob.png")
          source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/womWin2-tab.png")
          source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/womWin2-desc.png")
          img(src="img/womWin2-desc.png" alt="Favbet")
      .sam__firstWin-present.sam__secondWin-present
      .sam__secondWin-info
        .sam__secondWin-wrap_present
          .sam__secondWin-present2
        .sam__firstWin-title 100FS <span>+</span> 4500₴
        .sam__secondWin-sum Зовсім гаряче. Випала футболка
        a(href="https://www.favbet.com/short-register?action=/casino").sam__secondWin-btn.btn Забирай бонус

    .sam__rules.hide
      .sam__rules-close
      .sam__rules-txt
        .sam__rules-txt-title Як отримати Фріспіни?
        ul.sam__rules-txt-list
          li.sam__rules-txt-item Зроби депозит від 150 UAH.
          li.sam__rules-txt-item В особистому кабінеті у розділі “Бонуси” у вкладці “Фріспіни” натисни кнопку «Старт».
          li.sam__rules-txt-item Зроби будь-яку ставку.
          li.sam__rules-txt-item Як тільки ставку зроблено — натисни «Прийняти» та забирай спіни.
        .sam__rules-txt-info Бонусна пропозиція дійсна протягом 5 днів.
        .sam__rules-txt-title Як отримати Бонус 4500 на Депозит
        ul.sam__rules-txt-list
          li.sam__rules-txt-item Внеси кошти на ігровий рахунок від 100 UAH і активуй грошовий бонус у сумі 100% від розміру депозиту.
          li.sam__rules-txt-item В особистому кабінеті у розділі «Бонуси» у вкладці «Кошти» натисни кнопку «Старт».
          li.sam__rules-txt-item Виконай умови бонусу та прийми його в «Особистому кабінеті»
          li.sam__rules-txt-item Після прийняття бонусу він зарахується на твій ігровий гаманець.
        .sam__rules-txt-more
          a(href="https://www.favbet.com/promos/promo/new_welcome/" target="_blank") Детальніше про бонус на депозит 4500 тут
      a(href="https://www.favbet.com/short-register?action=/casino").sam__rules-btn.btn Забирай бонус
  .sam__main
    .sam__text Роздягни її та <span> забирай бонус </span>
    .sam__main-logo
    .sam__main-wrapper
      .sam__main-left
        .sam__main-left-try
          span Зможеш
          span роздягнути мене?
          span.try-number В тебе 2 спроби
        picture.sam__main-left-try_img1
          source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/wom-mob.png")
          source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/wom-mob.png")
          source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/wom-tab.png")
          source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/wom-desc.png")
          img(src="img/wom-desc.png" alt="Favbet")
        picture.sam__main-left-try_img2
          source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/womWin1-mob.png")
          source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/womWin1-mob.png")
          source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/womWin1-tab.png")
          source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/womWin1-desc.png")
          img(src="img/womWin1-desc.png" alt="Favbet")
      .sam__main-wheel
        .sam__main-wheel-wrap
          .sam__main-wheel_present
          .sam__main-wheel-btn.position.pulse-btn
            span go
          .sam__main-wheel-frame
          .sam__main-wheel-reel.position
          .sam__main-wheel-light.position
  .sam__footer
      .sam__footer-rules Правила та умови
      .sam__footer-icons
        .sam__footer-icons-wrap
          .sam__footer-icons-age
          .sam__footer-icons-visa
          .sam__footer-icons-mcard
        .sam__footer-icons-wrap.sam__footer-icons-wrap1
          a(href="https://app.appsflyer.com/id1076305677?af_cost_model=CPI&pid=prilamedibuy&af_sub1=2885&af_sub2=1858&af_sub3=yarmola_land4500_&af_sub4=141&af_click_lookback=7d" target="_blank").sam__footer-icons-apple
          a(href="https://www.favbet.com/static/media/android-files/version3/Favbet_v.3.0.27.apk" target="_blank").sam__footer-icons-google